<div class="flex justify-center flex-col m-[12px]">
    <mat-form-field>
      <mat-label>Znajdź filmy</mat-label>
      <input (change)="searchMovies($event)" type="text" matInput #inputSearch>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filtruj filmy</mat-label>
      <input [(ngModel)]="filterInput" (keyup)="filterMovies($event)" type="text" matInput #inputFilter>
    </mat-form-field>
    <table mat-table [dataSource]="dataTable" matSort  (matSortChange)="sortChange($event)">
        <ng-container matColumnDef="Poster">
          <th mat-header-cell *matHeaderCellDef > Plakat </th>
          <td mat-cell *matCellDef="let element">
            <img class="w-[100] h-[200]" [src]="element.Poster" >
          </td>
        </ng-container>
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </th>
          <td  mat-cell *matCellDef="let element"><span class="text-sm"> {{element.Title}} </span></td>
        </ng-container>
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
          <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
        </ng-container>
        <ng-container matColumnDef="Year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rok </th>
          <td mat-cell *matCellDef="let element"> {{element.Year}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-xl" colspan="4">{{errorResponse}}</td>
      </tr>
      </table>
</div>

