<div class="flex justify-center flex-col mx-auto my-4  w-[90%] md:w-[50%]">
  <app-input-search [loading]="loading" (searchMoviesOutput)="searchMovies($event)"></app-input-search>
  @if (dataTable.data.length !== 0) {
    <app-input-filter (filterMoviesOutput)="filterMovies($event)"></app-input-filter>
    <div class="overflow-x-auto">
      <table  mat-table matSort [dataSource]="dataTable" cdkDropList
             cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="drop($event)">
        @for (column of columns; track $index) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell mat-sort-header cdkDrag *matHeaderCellDef> {{ column }} </th>
            <td class="h-32" mat-cell *matCellDef="let element">
              @if (column === 'Poster') {
                <img class="w-16 md:w-32 max-w-full max-h-full" [src]="element[column]" >
              } @else {
                <span class="text-pretty">{{element[column]}}</span>
              }
            </td>
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center text-xl" colspan="4">{{errorResponse}}</td>
        </tr>
      </table>
    </div>
  } @else if (errorResponse && !loading) {
    <span class="text-center text-xl">{{errorResponse}}</span>
  }
</div>

