<div class="flex justify-center flex-col mx-auto w-[90%]  md:w-[50%]">
    <mat-form-field>
      <mat-label>Znajdź filmy</mat-label>
      <input (change)="searchMovies($event)" type="text" matInput #inputSearch>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filtruj filmy</mat-label>
      <input [(ngModel)]="filterInput" (keyup)="filterMovies($event)" type="text" matInput #inputFilter>
    </mat-form-field>
    <table mat-table cdkDropListGroup  [dataSource]="dataTable" matSort>
      @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell mat-sort-header *matHeaderCellDef
          > {{ column }} </th>
          <td mat-cell *matCellDef="let element">
            @if (column === 'Poster') {
              <img class="w-16 md:w-32 max-w-full max-h-full" [src]="element[column]" >
            } @else {
              {{element[column]}}
            }
          </td>
        </ng-container>
      }
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-xl" colspan="4">{{errorResponse}}</td>
      </tr>
      </table>
</div>

